<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Weather</title>
    <link rel="icon" href="/img/moon_cloud.png"
    <script src="/public/js/app.js"></script>
</head>

<body>
    <div class="main">
        {{>header}}
        <h1>web page not found {{text}}</h1>
        </div>
    {{>footer}}
</body>


</html>