<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Weather</title>
    <link rel="icon" href="/img/moon_cloud.png"
    
</head>

<body>
    <div class="main">
        {{>header}}
        <p>{{about}}</p>
        <p>This site was created by Gilad Reytan. It uses mapbox.com and darksky.net for getting coordinates and weather</p>
        <img class="portrait" src="/img/BG.jpg">
    </div>
     {{>footer}}
</body>

</html>