<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Weather</title>
    <link rel="icon" href="/img/moon_cloud.png"
   
</head>

<body>
    <div class="main">
        {{>header}}
    
        <p>{{text}}</p>
    </div>
    {{>footer}}
</body>

</html>